@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --preto: #1F232F;
    --branco: #FFFCFF;
    --tomate: #1464f8;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--preto);
    background-color: #F2ECF8;
    background-size:cover;
    
}

a {
    color: var(--preto);
}

image {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 100;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--preto);
}

b {
    color: var(--preto);
}

.containerLogin{
    display: flex;
    width: 100%;
    height: 108vh;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding-top: 70px;
}

.containerLogin .box-cadastro{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items:center;
    gap: 0; 
    box-shadow: 0px 10px 20px rgba(38, 38, 39, 0.4);
}

.containerLogin .left-card{
    background: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    border-radius: 50px  0px  0px 50px;
    width: 30vw;
    height: 90vh;
    gap: 30px;
}

.left-card h1{
    font-size: 32px;
    color: var(--preto);
    text-align: center;
    justify-content: center;
}

.containerLogin .loginForm{
    background: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 0px  50px  50px 0px;
    width: 30vw;
    height: 90vh;
    gap: 30px;
}

.loginForm h1{
    padding-top: 35px;
    text-align: center;
    color: #fff;
}

.loginForm p{
    padding-top: 25px;
    text-align: center;
    color: #fff;
}

.formulario-login{
    padding-top: 30px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    place-items: center;
}

 
.loginBox{ 
    background-color: white;
    height: 50px;
    width: 350px;
    border-radius: 50px;
    padding: 20px;
    font-family: 'Roboto',Courier;
    font-weight: 500;
    color: var(--preto);
}

.loginBotaoEnviar{
    font-family: 'Roboto',Courier;
    font-weight: 500;
    font-size: 16px;
    border-radius: 45px;
    padding: 16px;
    width: 144px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.loginBotaoEnviar:hover{
    background-color:var(--tomate);
    box-shadow: 0px 15px 20px rgba(19, 73, 221, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.loginForm .cadastro-blue{
    color: var(--tomate);
    margin-left: 8px;
}

.loginForm .instituicao-blue{
    color: var(--tomate);
    margin-left: 8px;
}

.loginForm span{
    color: var(--branco);
}

.left-card img{
    width: 700px;
    height: 700px;
    margin-left: -7.2917vw;
}
