@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --preto: #1F232F;
    --branco: #FFFCFF;
    --tomate: #1464f8;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--preto);
    background-color: var(--branco);
    background-image:url(../images/img_voluntario_login.jpg);
    background-size:cover;
    
}

a {
    color: var(--preto);
}

image {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 100;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--preto);
}

b {
    color: var(--preto);
}

.containerLogin{
    display: flex;
    flex-direction: column;
    padding: 50px;
    place-items: center;
    height: 90vh;
}

.containerLogin .portalV{
    color:var(--preto);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.containerLogin .portalI{
    color: var(--azul-escuro);
}


.containerLogin .paragrafoPortal{
    color: var(--preto);
    font-size: 16px;
}

.loginForm{
    padding: 40px;
    border-radius: 30px;
    place-items: center;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(20px)
}

.centro-pag{
    place-items: center;
}

.formulario-login{
    padding-top: 20px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    place-items: center;
}

 
.loginBox{ 
    background-color: var(--cinza-claro);
    height: 3rem;
    width: 24rem;
    border-radius: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--preto);
}

.loginBotaoEnviar{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--branco);
    background-color: var(--azul-escuro);
    margin: 2rem;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 9rem;
}

.loginform .footer-card a{
    text-decoration: underline;
    color: var(--azul-escuro);
}

