@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --preto: #434343;
    --branco: #FFFCFF;
    --cinza-claro: #F3F3F3;
    --tomate: #FE654F;
    --azul-escuro: #6D98BA;
    --azul-claro: #BFE1f3;
    --alt-azul-claro: #ACC4D7;
    --alt-azul-escuro: #90B1CB;
    --Marrom: #434343; 
}

html {
    font-size: 14px;
}

body {
    width: 98vw;
    height: 98vh;
    font-family: 'Roboto', sans-serif;
    color: var(--preto);
    background-color: var(--branco);
    
}

a {
    color: var(--preto);
}

image {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 100;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--preto);
}

b {
    color: var(--preto);
}

.containerLogin{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    place-items: center;
    height: 90vh;
}

.containerLogin .portalV{
    color:var(--preto);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.containerLogin .portalI{
    color: var(--tomate);
}


.containerLogin .paragrafoPortal{
    color: var(--preto);
    font-size: 16px;

}

.loginForm{
    padding-top: 40px;
    padding-bottom: 6rem;
    place-items: center;
    text-align: center;
}

.centro-pag{
    place-items: center;
}

.formulario-login{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    place-items: center;
}

 
.loginBox{ 
    background-color: var(--cinza-claro);
    height: 3rem;
    width: 24rem;
    border-radius: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--preto);
}

.loginBotaoCriar{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--preto);
    background-color: var(--cinza-claro);
    margin: 2rem;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 15rem;
}

.loginBotaoEnviar{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--branco);
    background-color: var(--tomate);
    margin: 2rem;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 9rem;
}

.loginform .footer-card a{
    text-decoration: underline;
    color: var(--tomate);
}

.footer-page{
    display: flex;
    width: 100vw;
    height: 80px;
    justify-content: center;
    align-items: center;
    background: var(--cinza-claro);
}

.footer-page .footer-left{
    
}

.footer-page .footer-center{
    padding-left: 15%;
    padding-right: 15%;
}

.footer-page .footer-right{
    
}

.footer-page .footer-right img{
    width: 30px;
    height: 30px;
}

