@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --preto: #434343;
    --branco: #e0e0e0;
    --cinza-claro: #F3F3F3;
    --tomate: #FE654F;
    --azul-escuro: #6D98BA;
    --azul-claro: #BFE1f3;
    --alt-azul-claro: #ACC4D7;
    --alt-azul-escuro: #90B1CB;
    --Marrom: #434343; 
}

html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--preto);
    background-color: var(--branco);
    background-size:cover;
    
}

a {
    color: var(--preto);
}

image {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 100;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--preto);
}

b {
    color: var(--preto);
}

.containerLogin{
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 180px;
    place-items: center;
    width: 100%;
    height: 900px;

}

.containerLogin .portalV{
    color:var(--preto);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.containerLogin .portalI{
    color: var(--azul-escuro);
}


.containerLogin .paragrafoPortal{
    color: var(--preto);
    font-size: 16px;
}

.loginForm{
    padding: 40px;
    border-radius: 30px;
    place-items: center;
    text-align: center;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.centro-pag{
    place-items: center;
}

.formulario-login{
    padding-top: 20px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    place-items: center;
}

.loginBox {
    height: 3rem;
    width: 24rem;
    padding: 10px;
    font-family: 'Roboto', Courier, monospace;
    font-weight: 500;
    color: var(--preto);
    padding-left: 20px ;
    outline: none;
    background: #e8e8e8;
    box-shadow: 5px 5px 17px #c8c8c8,
               -5px -5px 17px #ffffff;
    border: none;
    border-radius: 25px;
    transition: all 1s;
  }
  
.loginBox:focus {
    background: #e8e8e8;
    box-shadow: inset 5px 5px 17px #c8c8c8,
              inset -5px -5px 17px #ffffff;
}




.loginBotaoEnviar{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--branco);
    background-color: var(--azul-escuro);
    margin: 2rem;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 9rem;
}

.loginform .footer-card a{
    text-decoration: underline;
    color: var(--azul-escuro);
}

