@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --preto: #1F232F;
    --branco: #FFFCFF;
    --tomate: #1464f8;
}

html {
    font-size: 14px;
}

body {
    width: 98vw;
    height: 98vh;
    font-family: 'Roboto', sans-serif;
    color: var(--preto);
    background-color: var(--branco);
    
}

a {
    color: var(--preto);
}

image {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 100;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--preto);
}

b {
    color: var(--preto);
}

.container{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items:center;
    padding-top: 70px;
    background-image: url("../images/pattern-background.png");
    background-size:400px;
    background-repeat: no-repeat;
    background-position: initial;
    gap: 0;
}

.container .box-login{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items:center;
    gap: 0; 
    box-shadow: 0px 10px 20px rgba(38, 38, 39, 0.4);
}


.container .left-side{
    background: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    border-radius: 50px  0px  0px 50px;
    width: 30vw;
    height: 60vh;
    gap: 30px;
}

.left-side h1{
    font-size: 44px;
    color: var(--preto);
}

.container .right-side{
    background: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 0px  50px  50px 0px;
    width: 30vw;
    height: 60vh;
    gap: 30px;
}

.right-side h1{
    font-size: 38px;
    color: var(--branco);
}

.right-side .form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.form-login input{
    border-color: var(--preto);
    padding: 20px;
    width: 350px;
    border-radius: 50px;
    color: var(--preto);
    font-family: 'Roboto',Courier;
    box-shadow: 0px 5px 10px rgba(38, 38, 39, 0.293);
}

.form-login .enviar-botao{
    padding: 1.3em 3em;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.form-login .enviar-botao:hover{
    background-color:var(--tomate);
    box-shadow: 0px 15px 20px rgba(19, 73, 221, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.form-login .enviar-botao:active {
    transform: translateY(-1px);
}

.right-side .cadastro-red{
    color: var(--tomate);
    margin-left: 8px;
}

.right-side .instituicao-red{
    color: var(--tomate);
    margin-left: 8px;
}

.right-side span{
    color: var(--branco);
}