.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    background-color:rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    
}

aside {
    width: 98vw;
}

aside.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    
}

aside .menu .logo {
    display: flex;
    gap: 0.5rem;
    float: left;
    margin-top: 2rem;
    margin-left: 90px;
}

aside .menu .logo img {
    width: 2rem;
    height: 2rem;
}

aside .menu .logo .p-projeto{
    color: var(--preto);
     
}

aside .menu .logo .p-lares{
    color: var(--azul-escuro);
    margin-left: 0.5rem;

}

aside .menu .logo .fonte1{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

aside .menubar {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 2rem;
    gap: 2rem;
    position: relative;
    margin: 2rem;
    float: right !important;
    margin-right: 15.31rem ;
}

aside .menubar a {
    display: flex;
    align-items: center;
    flex-direction: row;
}

aside .menubar span {
    margin: 1rem;
}

aside .menubar .fonte2{
    color: var(--branco);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

aside .menubar .fonte2:hover{
    color: var(--azul-escuro);
}

aside .menubar .loginBMenu{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--branco);
    background-color: var(--azul-escuro);
    
    border-radius: 1.5rem;
    padding: 1rem;
    width: 9rem;
}

aside .menubar .loginBMenu:hover{
    color: var(--azul-escuro);
    background: var(--branco);
    transform: scale(1.1);
    transition: all 0.25s;
    cursor: pointer;
}

.lares .conheca-nossos_lares .titulo-lares{
    color: var(--azul-escuro);
    margin-left: 13.63rem;
    margin-top: 13.43rem;

}

.resumo-lares .texto-lares .titulo-lares{
    color: var(--azul-escuro);
    margin-left: 13.63rem;
    
}

.resumo-lares .texto-lares .sub-texto{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.63rem;
    margin-left: 13.63rem;
}

