nav {
    display: flex;
    width: 97vw;
    height: 70px;
    align-items: center;
    margin: 20px;
    position: fixed;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 10px 20px rgba(38, 38, 39, 0.4);
}

.menu{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: right;
    align-items: center;
    float: left;
    gap: 20px;
    margin-right: 40px;
}

.logo-navbar{
    width: 50px;
    margin: 40px;

}

.menu .botao-navbar{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.botao-navbar:hover{
    background-color:var(--tomate);
  box-shadow: 0px 15px 20px rgba(19, 73, 221, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.botao-navbar:active {
    transform: translateY(-1px);
  }
