@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --preto: #434343;
    --branco: #FFFCFF;
    --tomate: #FE654F;
    --azul-escuro: #6D98BA;
    --azul-claro: #BFE1f3;
    --alt-azul-claro: #ACC4D7;
    ;
    --alt-azul-escuro: #90B1CB;
    --Marrom: #434343; 
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: var(--preto);
    background-color: var(--branco);
    
}

a {
    color: var(--preto);
}





small {
    font-size: 0.76rem;
}

p {
    color: var(--preto);
}

b {
    color: var(--preto);
}
.container {
    display: flex;
    font-family: sans-serif;
}


aside {
    width: 96vw;
}

aside.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    
}

aside .menu .logo {
    display: flex;
    gap: 0.5rem;
    float: left;
    margin-top: 2rem;
    margin-left: 8.48rem;
    font-family: sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

aside .menu .logo .p-projeto{
    color: var(--Marrom);
     
}

aside .menu .logo .p-lares{
    color: var(--azul-escuro);
    margin-left: 0.5rem;

}


aside .menubar {
    display: flex;
    align-items: center;
    height: 2.81519rem;
    gap: 2rem;
    position: relative;
    margin: 2rem;
    float: right ;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.portal-institucional{
    margin-left: 13.62rem;
    margin-top: 6.81rem;
    font-family: sans-serif;
}

.titulo1{
    display: flex;
    align-items:right;
    flex-direction: row;
    text-align: center;
    color:var(--azul-escuro);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    
    
}
.texto1{
    display: flex;
    align-items:center;
    flex-direction: row;
    text-align:center;
    margin-top: 3.06rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.login{
    text-align: flex;
    margin-top: 7.87rem;
    margin-left: 46.50rem;
}

.login .caixa{
    width: 23rem;
    height: 2rem;
    font-size:1rem;
    border-radius: 1.5625rem;
    color: var(--preto);
    background-color: #F3F3F3;
    line-height: normal;
    text-align: center;
}

.login .titulo_login{
    margin-left: 0.75rem;
    color:var(--azul-escuro);
    margin-top: 7.87rem;
    align-self:flex-end ;
    font-size: 1.4rem;
    font-weight: 700;
    
}

.login .titulo_senha{
    margin-left: 0.75rem;
    color:var(--azul-escuro);
    font-size: 1.4rem;
    font-weight: 700;
    

}

.login .esenha{
   
    margin-left: 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.login .institucao{
    margin-left: 2rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.login .botaoc{
    margin-left: 1rem;
    margin-top: 3.06rem;
    width: 10rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color:var(--azul-claro);
    color:var(--azul-escuro);
    font-size: 1.5rem;
    font-weight: 700;
}

.login .botaov{
    margin-left: 1rem;
    width: 10rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color:var(--azul-escuro);
    color:var(--branco);
    font-size: 1.5rem;
    font-weight: 700;

}

.rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15rem;
}

.ProjetoLares{
    margin-left: 8.48rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 5.94rem;
    
}
.ProjetoLares .p1{
    color: var(--preto);
    margin-left: 0.5rem;
}

.ProjetoLares .l1{
    color: var(--azul-escuro);
    margin-left: 0.5rem;
}

.menubar2 {
    
    display: flex;
    align-items: center;
    height: 2.81519rem;
    gap: 2rem;
    position: relative;
    float: right ;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4.5rem;
}

.dev-by{
    

    color: var(--Marrom);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: sans-serif;
    margin-left: 0.4rem;
}

 .dev-by2{
    color: var(--Marrom);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: sans-serif;
    margin-left: 0.4rem;
}

  
