.footer-page{
    font-size: 14px;
    font-family: 'Roboto';
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 100px;
    margin: auto;
    bottom: 0;
    color: var(--branco);
    background-color: var(--branco);
}

.footer-page img{
    width: 30px;
}

.footer-right:hover{
    transform: scale(1.1);
    transition: all 0.25s;
    cursor: pointer;
} 