@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --preto: #1F232F;
    --branco: #FFFCFF;
    --tomate: #1464f8;
}

html {
    font-size: 14px;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--preto);
    background-color: var(--branco);   
}

a {
    color: var(--preto);
}

image {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 100;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--preto);
}

b {
    color: var(--preto);
}

.container-sessao1 {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    gap: 25px;
    padding: 120px;
    align-items: center;
}

.container-sessao1 .bloco-texto-1{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    gap: 25px;
    justify-content: center;
    padding: 50px;
}

.container-sessao1 h1{
    color: var(--tomate);
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: normal;
}

.container-sessao1 h3 {
    color: var(--preto);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 500px;
}

.container-sessao1 img{
    width: 600px;
    height: 600px;
}


.container-sessao2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    gap: 50px;
    background-color: var(--alt-azul-claro);
    padding: 70px;
}

.container-sessao2 h2{
    color: var(--tomate);
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-sessao2 h3 {
    color: var(--preto  );
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.container-sessao3 {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    gap: 175px;
    padding: 70px;
    align-items: center;
}


.container-sessao3 .bloco-texto-3{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
    justify-content: center;
}

.container-sessao3 h2 {
    color: var(--tomate);
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-sessao3 h3 {
    color: var(--preto);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-sessao4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50vh;
    gap: 50px;
    background-color: var(--alt-azul-claro);
    padding: 120px;
}

.container-sessao4 h2{
    color: var(--tomate);
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-sessao4 h3{
    color: var(--preto);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}